@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

p {
    font-family: 'Poppins', sans-serif;

}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari */

}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.up-down-animation {
    animation: upDown 1.5s ease-in-out infinite;
}